# PyCharm
/.idea/*
!/.idea/*.iml

# Python virtual environment
SW/venv
# Configuration file
SW/circuitpy_drive.txt

# Adafruit libraries are downloaded from GitHub directly
SW/lib/adafruit-circuitpython-bundle-py
# Some tools are also downloaded locally
SW/tools/mpy-cross*
# Compiled files can be compiled on the way
SW/compiled

Camera AI/.ipynb_checkpoints